<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-align-items-center">
  <div class="instructions">
    <swiper #swiper [slidesPerView]="1" [spaceBetween]="50">
      <ng-template swiperSlide *ngFor="let instruction of instructions">
        {{instruction}}
      </ng-template>
    </swiper>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="mainlight">
    <ion-buttons slot="start" size="large">
      <ion-button color="main" (click)="handleBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" size="large">
      <ion-button color="main" (click)="handleContinue()">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>